aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aioprocessing==2.0.0
aioresponses==0.7.8
aiosignal==1.3.2
anyio==4.6.2.post1
appdirs==1.4.3
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==5.0.1
asyncssh==2.13.1
attrs==24.2.0
babel==2.16.0
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1733771078379/work
base58==2.1.1
beautifulsoup4==4.12.3
bech32==1.2.0
bidict @ file:///home/conda/feedstock_root/build_artifacts/bidict_1734272627465/work
bip32==4.0
bitarray==2.9.3
bleach==6.2.0
blinker==1.9.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cachetools==4.0.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
ckzg==1.0.2
click==8.1.8
coinbase-advanced-py @ file:///home/conda/feedstock_root/build_artifacts/coinbase-advanced-py_1733335865706/work
coincurve==20.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.2
commlib-py==0.10.6
contourpy==1.3.0
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1743381215370/work
cryptography==3.4.7
cycler==0.12.1
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1739227941089/work
cytoolz==1.0.1
dataclassy==0.11.1
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
diff_cover==9.2.4
distlib==0.3.9
docker==5.0.3
dotmap==1.3.30
ecdsa==0.19.1
ECPy==1.2.5
eip712==0.2.2
eip712-structs==1.1.0
entrypoints==0.3
eth-abi==4.2.1
eth-account==0.8.0
eth-hash==0.7.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.5.2
eth-utils==2.2.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.18.0
flake8==3.7.9
Flask==3.1.0
Flask-Dance==7.1.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.69.2
gql==3.5.2
graphql-core==3.2.4
graphviz==0.20.3
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1734532786161/work
grpcio==1.71.0
grpcio-tools==1.71.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hdwallets==0.1.2
hexbytes==0.3.1
hiredis==2.1.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
identify==2.6.9
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib-metadata==0.23
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
injective-py==1.8.2
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpickle==3.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lru-dict==1.2.0
lyra_v2_action_signing==0.0.3
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.6.1
mistune==3.0.2
mnemonic==0.21
msgpack==1.1.0
multidict==6.2.0
mypy-extensions==0.4.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nodeenv==1.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
oauthlib==3.2.2
objgraph==3.6.2
overrides==7.7.0
packaging==24.1
paho-mqtt==1.6.1
pandas==2.2.2
pandas_ta==0.3.14b0
pandocfilters==1.5.1
parsimonious==0.9.0
parso==0.8.4
pika==1.3.1
platformdirs==4.2.2
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1733421311631/work
pre-commit==2.18.1
prometheus_client==0.21.0
prompt_toolkit==3.0.47
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.7.2
psycopg2-binary==2.9.10
ptpython==3.0.20
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.5.0
pycparser==2.22
pycryptodome==3.22.0
pydantic==1.10.4
pydotplus==2.0.2
pyflakes==2.1.1
pygame==2.4.0
Pygments==2.19.1
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pyOpenSSL==21.0.0
pyparsing==3.2.3
pyperclip==1.7.0
pysha3==1.0.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1740946542080/work
pytest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytest-asyncio_1742911666/work/dist
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pyunormalize==16.0.0
PyYAML==6.0.2
pyzmq==26.1.0
referencing==0.35.1
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rlp==3.0.0
rpds-py==0.21.0
rsa==4.7
ruamel.yaml==0.16.10
safe-pysha3==1.0.4
scikit-learn==1.5.1
scipy==1.14.0
Send2Trash==1.8.3
signalr-client-aio==0.0.1.6.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1731848267012/work
stack-data==0.6.3
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.0.2
toolz==1.0.0
tornado==6.4.1
traitlets==5.14.3
types-Deprecated==1.2.15.20250304
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.7.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
URLObject==2.4.3
uvloop==0.21.0
virtualenv==20.30.0
wcwidth==0.2.13
web3==6.20.4
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.17.2
xrpl-py==3.0.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
